{% extends 'musker/base.html' %}
{% load static %}
{% block style %}
{% endblock %}

{% block content %}
<div class="container my-2">
    <div class="row">
       
        <div class="col-8">
            {% for meep in meeps %}
            <div class="container shadow my-3 p-3 bg-dark" width='20rem'>
                <div class="alert alert-dark" role="alert">
                    <h4 class="alert-heading">{{meep.user}}</h4>
                    <p>{{meep.created_at}}</p>
                    <hr>
                    <p class="mb-0">{{meep.body}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        

        {% if form %}
        <div class="col-4">
           <form method="POST" action=''>
           {% csrf_token %}
           {{form.as_p}}
           <button type='submit' class="btn btn-primary">Meep!</button>
           </form>
         </div>
         {% endif %}
    </div>
</div>


{% endblock %}