{% extends 'musker/base.html' %}



{% block content %}
{% if profile %}
<div class="container text-center my-5 bg-info p-5">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    {{profile.user.username|upper}}' Profile
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>A well-known quote, contained in a blockquote element.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>

        </div>
        <div class="col-4">
            <strong>Follows:</strong><hr>
            {% for following in profile.follows.all %}
            <p>@ <a href="{% url 'profile' following.user.id %}">{{following}}</a> </p>
             {% endfor %}
             
             <strong>Followed by:</strong><hr>
             {% for following in profile.followed_by.all %}
                <p>@ <a href="{% url 'profile' following.user.id %}">{{following}}</a> </p>
             {% endfor %}

        </div>
    </div>
</div>




    
 
{% endif %}

{% endblock %}