{% extends 'musker/base.html' %}
{% block style %}
<style>
    /* Custom form styles */
    .custom-form {
        background-color: #f8f9fa; /* Form background color */
        padding: 20px;
        border-radius: 10px; /* Rounded corners for the form */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Shadow for the form */
    }

    .custom-form label {
        font-weight: bold; /* Bold label text */
    }

    .custom-form input[type="text"],
    .custom-form input[type="email"],
    .custom-form input[type="password"] {
        border: 2px solid #17a2b8; /* Input border color */
        border-radius: 5px; /* Rounded corners for input fields */
        padding: 8px;
    }

    .custom-form input[type="text"]:focus,
    .custom-form input[type="email"]:focus,
    .custom-form input[type="password"]:focus {
        border-color: #007bff; /* Input border color on focus */
    }

    .custom-form .btn-primary {
        background-color: #007bff; /* Button background color */
        border: none;
    }

    .custom-form .btn-primary:hover {
        background-color: #0056b3; /* Button background color on hover */
    }
</style>

{% endblock %}

{% block content %}
    <div class="container m-5 shadow">
        <div class="row justify-content-center p-4">
            <div class="col-md-6">
                <!-- Custom registration form -->
                <form method='POST' class="custom-form">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary btn-block">Update</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}